<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FD8790D1CD6389400A9BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD879231CD6389400A9BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD8792E1CD6389500A9BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
